.navlink-container {
  display: flex;
  list-style: none;
  align-items: center;
  flex-shrink: 0;
}

.main-navigation__link {
  cursor: pointer;
  margin-left: 20px;
  color: var(--font-grey);
  font-weight: bold;
  font-size: 0.9rem;
}

.main-navigation__link:hover {
  color: black;
}

/**************************************MEDIA QUERIES**************************************/

@media (max-width: 1000px) {
  .navlink-container {
    display: none;
  }
}
