.Signup {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.image-container {
  height: 100%;
  flex-basis: 40%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  margin-left: auto;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signup-info {
  width: 77.5%;
  padding: 20px;
}

.signup-info h1,
.signup-info h4 {
  text-align: center;
}

.signup-info > h1 {
  margin-bottom: 20px;
}

.signup-info__login-option {
  margin-bottom: 2rem;
}

.signup-info span {
  font-size: 30px;
  color: white;
}

.signup-info > p {
  text-align: center;
}

.signup-info p:last-child {
  margin-top: 10px;
}

.form-container form > div {
  padding: 15px 0;
}

/******************************MEDIA QUERIES***************************/

@media (max-width: 1000px) {
  .image-container {
    flex-basis: 100%;
    height: 400px;
  }

  .form-container {
    flex-basis: 100%;
  }
}

@media (max-width: 538px) {
  .image-container {
    height: 300px;
  }

  .signup-info {
    width: 90%;
  }
}
