.navbar-links:visited,
.navbar-links:link {
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: bold;
  color: var(--font-grey);
  font-size: 0.9rem;
}

.navbar-links:hover {
  color: black;
}

.active-link {
  color: black;
}
