.container {
  width: 60px;
  height: 40px;
  border: 1px solid #adacac;
  border-radius: 8px;
  text-align: center;
}

.container__button {
  border: none;
  background-color: transparent;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 4px;
  border-radius: 8px;
}

.container__button:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
  outline: 0;
}
