.responsive-topnav {
  position: absolute;
  top: 60;
  right: 10;
  z-index: 1000;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.link {
  color: white;
  list-style: none;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.link a:visited,
a:focus,
a:link,
a:active {
  color: white;
}
