.responsive-topnav {
  position: relative;
  z-index: 1000;
}

.responsive-topnav:hover {
  cursor: pointer;
}

.link {
  color: white;
  list-style: none;
  padding: 15px;
}

.link a {
  text-decoration: none;
}

.link a:link,
.link a:visited {
  color: white;
}

.link a:active,
.link a:hover {
  color: var(--font-grey);
}

.responsive-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: black;
  z-index: 1000;
}

/**************************************MEDIA QUERIES**************************************/
