.responsive-topnav {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 10;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.link {
  color: white;
  list-style: none;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.link:visited,
.link:focus,
.link:active,
.link:link {
  color: white;
}
